/*
Theme Name: Capital One Venture Group
Author: Longevity Graphics
Author URI: http://www.longevitygraphics.com
Version: 1.0
*/

$font-family-bodoni: Bodoni MT, Didot,Didot LT STD, Hoefler Text, Garamond, Times New Roman, serif; 



html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	background: transparent;
	border: 0;
	margin: 0;
	padding: 0;
	vertical-align: baseline;
}
body {
	line-height: 1;
}
h1, h2, h3, h4, h5, h6 {
	clear: both;
	font-weight: normal;
}
ol, ul {
	list-style: none;
}
blockquote {
	quotes: none;
}
blockquote:before, blockquote:after {
	content: '';
	content: none;
}
del {
	text-decoration: line-through;
}
/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a img {
	border: none;
}
/* =Layout
-------------------------------------------------------------- */
/*
LAYOUT: Two columns
DESCRIPTION: Two-column fixed layout with one sidebar right of content
*/
main#content {
    display: table-cell;
    margin: 0;
    padding-right: 20px;
    width: 100%;
}
main#content.one-column{
    display: block;
    margin: 0;
    padding: 0 !important;
    width: 100%;
    position: relative;
}
section.content.left-sidebar main#content{
    padding-right: 0px;
    padding-left: 20px;
}
aside {
    display: table-cell;
    min-width: 380px;
    width: 380px;
}

/* =Fonts
-------------------------------------------------------------- */
body,
input,
textarea,
.page-title span,
.pingback a.url {
	// font-family: $font-family-bodoni;
	font-family: $font-family-bodoni;
}
h3#comments-title,
h3#reply-title,
nav .menu,
nav div.menu ul,
#cancel-comment-reply-link,
.form-allowed-tags,
#site-info,
#site-title,
#wp-calendar,
.comment-meta,
.comment-body tr th,
.comment-body thead th,
.entry-content label,
.entry-content tr th,
.entry-content thead th,
.entry-meta,
.entry-title,
.entry-utility,
#respond label,
.navigation,
.page-title,
.pingback p,
.reply,
.widget-title,
.wp-caption-text {
	font-family: $font-family-bodoni;
}
input[type="submit"] {
font-family: $font-family-bodoni;
}
pre {
	font-family: "Courier 10 Pitch", Courier, monospace;
}
code {
	font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
}
/* =Structure
-------------------------------------------------------------- */
/* The main theme structure */
div.menu,
#branding,
section.content {
	margin: 0 auto;
	width: 1240px;
}

section.content {
	background: transparent;
	padding: 0;
	box-sizing: border-box;
}
#site-info {
	float: left;
	font-size: 14px;
	font-weight: bold;
	width: 700px;
}
/* =Global Elements
-------------------------------------------------------------- */
/* Main global 'theme' and typographic styles */
body {
	background: #fff url("./images/body-ng.jpg");
    background-position: 50% 0;
    background-repeat: no-repeat;
    background-size: cover;
	font-family: $font-family-bodoni;
}



.page-id-8{
	background:#fff url("./images/sub-bg.jpg") !important;
    background-position:50% 150px !important;
    background-repeat: no-repeat;
	font-family: $font-family-bodoni;
}

.constant-bg{
	// outline: solid 1px red;
	background: linear-gradient(to bottom, rgba(#fff,0.7), rgba(#fff,0.0)), url("./images/pillar.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 1.0;
    z-index: -1;
}

.btn-alpha{
	background: rgba(#fff, 0.5);
	border: solid 1px #ccc;
	padding: 0.75rem 2.8rem;
	display: inline-block;

	&:hover, &:focus{
		background: rgba(#fff, 0.7);
		color: #000;
	}
}

body,
input,
textarea {
	color: #000;
	font-size: 12px;
	line-height: 18px;
}
hr {
	background-color: #e7e7e7;
	border: 0;
	clear: both;
	height: 1px;
	margin-bottom: 18px;
}
/* Text elements */
p {
	margin-bottom: 18px;
}
ul {
	list-style: square;
	margin: 0 0 18px 1.5em;
}
ol {
	list-style: decimal;
	margin: 0 0 18px 1.5em;
}
ol ol {
	list-style: upper-alpha;
}
ol ol ol {
	list-style: lower-roman;
}
ol ol ol ol {
	list-style: lower-alpha;
}
ul ul,
ol ol,
ul ol,
ol ul {
	margin-bottom: 0;
}
dl {
	margin: 0 0 24px 0;
}
dt {
	font-weight: bold;
}
dd {
	margin-bottom: 18px;
}
strong {
	font-weight: bold;
}
cite,
em,
i {
	font-style: italic;
}
big {
	font-size: 131.25%;
}
ins {
	background: #ffc;
	text-decoration: none;
}
blockquote {
	font-style: italic;
	padding: 0 3em;
}
blockquote cite,
blockquote em,
blockquote i {
	font-style: normal;
}
pre {
	background: #f7f7f7;
	color: #222;
	line-height: 18px;
	margin-bottom: 18px;
	overflow: auto;
	padding: 1.5em;
}
abbr,
acronym {
	border-bottom: 1px dotted #666;
	cursor: help;
}
sup,
sub {
	height: 0;
	line-height: 1;
	position: relative;
	vertical-align: baseline;
}
sup {
	bottom: 1ex;
}
sub {
	top: .5ex;
}
small {
	font-size: smaller;
}
input[type="text"],
input[type="tel"],
input[type="password"],
input[type="email"],
input[type="url"],
input[type="number"],
textarea,
mce-EMAIL {
	background: #fff;
	border: 1px solid #ccc;
	padding: 5px;
    width: 100%;
	box-sizing: border-box;
}
section a:link, section a:visited {
	color: #000;
	text-decoration: none;
}
section a:active, section a:hover {
	color: #8f8f8f;
	text-decoration: none;
}
a:link, a:visited, a:active, a:hover{
    text-decoration: none;

    -moz-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;

-webkit-appearance: none;
border-radius: 0;
}
/* Text meant only for screen readers */
.screen-reader-text {
	position: absolute;
	left: -9000px;
}





/* =Menu
-------------------------------------------------------------- */



nav {
	background: #000;

	display: block;
	float: left;
	margin: 0 auto;
	width: 100%;
	clear:both;
}
nav .menu-header ul,
div.menu ul {
	list-style: none;
	margin: 0;
}
nav .menu-header li,
div.menu li {
	float: left;
	position: relative;
}
nav a {
	
	display: block;
	line-height: 38px;
	padding: 0 10px;
	text-decoration: none;
}
nav ul ul {
	box-shadow: 0px 3px 3px rgba(0,0,0,0.2);
	-moz-box-shadow: 0px 3px 3px rgba(0,0,0,0.2);
	-webkit-box-shadow: 0px 3px 3px rgba(0,0,0,0.2);
	display: none;
	position: absolute;
	top: 38px;
	left: 0;
	float: left;
	width: 180px;
	z-index: 99999;
}
nav ul ul li {
	min-width: 180px;
}
nav ul ul ul {
	left: 100%;
	top: 0;
}
nav ul ul a {
	background: #333;
	line-height: 1em;
	padding: 10px;
	width: 160px;
	height: auto;
}
nav li:hover > a,
nav ul ul :hover > a {
	background: #333;
	color: #fff;
}
nav ul li:hover > ul {
	display: block;
}
nav ul li.current_page_item > a,
nav ul li.current_page_ancestor > a,
nav ul li.current-menu-ancestor > a,
nav ul li.current-menu-item > a,
nav ul li.current-menu-parent > a {
	color: #fff;
}
* html nav ul li.current_page_item a,
* html nav ul li.current_page_ancestor a,
* html nav ul li.current-menu-ancestor a,
* html nav ul li.current-menu-item a,
* html nav ul li.current-menu-parent a,
* html nav ul li a:hover {
	color: #fff;
}

/********* MAX MEGA MENU ********************/
// #mega-menu-wrap-primary #mega-menu-primary li.mega-menu-item:last-child a.mega-menu-link:last-child
// {border-right: 1px solid black !important;}

// #mega-menu-wrap-max_mega_menu_1 #mega-menu-max_mega_menu_1 li.mega-menu-item:last-child a.mega-menu-link:last-child
// {border-right: 1px solid #222 !important;}

// #mega-menu-wrap-primary #mega-menu-primary{max-height:50px;}

#navwrap {
    background: #fff none repeat scroll 0 0;
    border-bottom:2px solid #000000;
    position: relative;
   /* was z-index:0*/
	height:50px;
	
}
#navwrap .left-block {
    position: absolute;
    vertical-align: middle;
	z-index: 1;
	
}
#date {
    font-size: 16px;
    display: inline-block;
    line-height: 46px;
}
#navwrap .left-block img {
    float: right;
   padding-left:15px;
    position: relative;
    top: 12px;
}



.social {
   /* display: inline-block;
    float: right;
    list-style: outside none none;
    position: relative;
    top: -50px; */
    clear: both;
    padding-top: 20px;
    margin: 0 auto;
    width: 285px;
	position:relative;
	z-index:0;
}


.social a {
    background: #000 none repeat scroll 0 0;
    border-radius: 50%;
    display: inline-block;
    height: 48px;
    margin: 0 0 0 20px;
    padding: 0;
    position: relative;
    text-indent: -9999px;
    top: 9px;
    transition-duration: 0.3s;
    width: 48px;
    overflow: hidden;
}
.social a:hover {
    transform: rotate(360deg);
    transition-duration: 0.3s;
}
.social a#facebook{
    background: url('/wp-content/uploads/2017/06/facebook.png') no-repeat center center transparent;
}
.social a#twitter{
    background: url('/wp-content/uploads/2017/06/twitter.png') no-repeat center center transparent;
}
.social a#linkedin{
    background: url('/wp-content/uploads/2017/06/linkedin.png') no-repeat center center transparent;
}
.social a#instagram{
    background: url('/wp-content/uploads/2017/06/instagram.png') no-repeat center center transparent;
}















/* =Content
-------------------------------------------------------------- */
main#content,
main#content input,
main#content textarea {
	color: #000;
	font-size: 16px;
	line-height: 1.4;
}
main#content small{
	font-size: 13px;
}
main#content p,
main#content ul,
main#content ol,
main#content dd,
main#content pre,
main#content hr {
	margin-bottom: 24px;
}
main#content ul ul,
main#content ol ol,
main#content ul ol,
main#content ol ul {
	margin-bottom: 0;
}
main#content pre,
main#content kbd,
main#content tt,
main#content var {
	font-size: 15px;
	line-height: 21px;
}
main#content code {
	font-size: 13px;
}
main#content dt,
main#content th {
	color: #000;
}
main#content h1,
// main#content h2,
main#content h3,
main#content h4,
main#content h5,
main#content h6 {
	color: #000;
}

main#content h2{
	color: #104b5d;
}
main#content table {
	border: 1px solid #000;
	margin: 0 -1px 24px 0;
	text-align: left;
	width: 100%;
}
main#content tr th,
main#content thead th {
	color: #000;
	font-size: 12px;
	font-weight: bold;
	line-height: 18px;
	padding: 9px 24px;
}
main#content tr td {
	border-top: 1px solid #a5a5a5;
	padding: 6px 24px;
font-weight:bold;
}
main#content tr.odd td {
	background: #000;
}

main#content tr:nth-child(odd)		{ font-weight:300; }
main#content tr:nth-child(even)		{ font-weight:600;background: rgba(0, 0, 0, 0.03) none repeat scroll 0 0;  }

// .hentry {
// 	margin: 0 0 48px 0;
// }
.home .sticky {
	background: #f2f7fc;
	border-top: 4px solid #000;
	margin-left: -20px;
	margin-right: -20px;
	padding: 18px 20px;
}
.single .hentry {
	margin: 0 0 36px 0;
}
.page-title {
	color: #000;
	font-size: 14px;
	font-weight: bold;
	margin: 0 0 36px 0;
}
.page-title span {
	color: #333;
	font-size: 16px;
	font-style: italic;
	font-weight: normal;
}
.page-title a:link,
.page-title a:visited {
	color: #777;
	text-decoration: none;
}
.page-title a:active,
.page-title a:hover {
	color: #ff4b33;
}
main#content .entry-title {
	color: #000;
	font-size: 21px;
	font-weight: bold;
	line-height: 1.3em;
	margin-bottom: 0;
}
.entry-title a:link,
.entry-title a:visited {
	color: #000;
	text-decoration: none;
}
.entry-title a:active,
.entry-title a:hover {
	color: #ff4b33;
}
.entry-meta {
	color: #777;
	font-size: 12px;
}
.entry-meta abbr,
.entry-utility abbr {
	border: none;
}
.entry-meta abbr:hover,
.entry-utility abbr:hover {
	border-bottom: 1px dotted #666;
}
main#content .entry-summary p:last-child {
	margin-bottom: 12px;
}
.entry-content fieldset {
	border: 1px solid #e7e7e7;
	margin: 0 0 24px 0;
	padding: 24px;
}
.entry-content fieldset legend {
	background: #fff;
	color: #000;
	font-weight: bold;
	padding: 0 24px;
}
.entry-content input.file,
.entry-content input.button {
	margin-right: 24px;
}
// .entry-content label {
// 	color: #777;
// 	font-size: 12px;
// }
.entry-content select {
	margin: 0 0 24px 0;
}
.entry-content sup,
.entry-content sub {
	font-size: 10px;
}
.entry-content blockquote.left {
	float: left;
	margin-left: 0;
	margin-right: 24px;
	text-align: right;
	width: 33%;
}
.entry-content blockquote.right {
	float: right;
	margin-left: 24px;
	margin-right: 0;
	text-align: left;
	width: 33%;
}
.page-link {
	clear: both;
	color: #000;
	font-weight: bold;
	line-height: 48px;
	word-spacing: 0.5em;
}
.page-link a:link,
.page-link a:visited {
	background: #f1f1f1;
	color: #333;
	font-weight: normal;
	padding: 0.5em 0.75em;
	text-decoration: none;
}
.home .sticky .page-link a {
	background: #d9e8f7;
}
.page-link a:active,
.page-link a:hover {
	color: #ff4b33;
}
body.page .edit-link {
	clear: both;
	display: block;
}
#entry-author-info {
	background: #f2f7fc;
	border-top: 4px solid #000;
	clear: both;
	font-size: 14px;
	line-height: 20px;
	margin: 24px 0;
	overflow: hidden;
	padding: 18px 20px;
}
#entry-author-info #author-avatar {
	background: #fff;
	border: 1px solid #e7e7e7;
	float: left;
	height: 60px;
	margin: 0 -104px 0 0;
	padding: 11px;
}
#entry-author-info #author-description {
	float: left;
	margin: 0 0 0 104px;
}
#entry-author-info h2 {
	color: #000;
	font-size: 100%;
	font-weight: bold;
	margin-bottom: 0;
}
.entry-utility {
	clear: both;
	color: #777;
	font-size: 12px;
	line-height: 18px;
}
.entry-meta a,
.entry-utility a {
	color: #777;
}
.entry-meta a:hover,
.entry-utility a:hover {
	color: #ff4b33;
}
main#content .video-player {
	padding: 0;
}

/* HOME PAGE*/

.yellow {color:#ab7338;}

.heading {
	font-size:30px;
	padding:30px 0px 30px 0px;
	text-shadow:1px 1px 2px rgba(28,28,29, 0.5);
	font-family: $font-family-bodoni; }

.home .heading {
	font-size:30px;
	line-height:36px;
	padding:30px 0px 30px 0px;
	text-shadow:1px 1px 2px rgba(28,28,29, 0.5);
	font-weight:500;
	font-family: $font-family-bodoni;}

.center{text-align:center; margin:0 auto; display:block;}

.bold {font-weight:600;font-family: $font-family-bodoni;}

/* =Asides
-------------------------------------------------------------- */
.home main#content .format-aside p,
.home main#content .category-asides p {
	font-size: 14px;
	line-height: 20px;
	margin-bottom: 10px;
	margin-top: 0;
}
.home .hentry.format-aside,
.home .hentry.category-asides {
	padding: 0;
}
.home main#content .format-aside .entry-content,
.home main#content .category-asides .entry-content {
	padding-top: 0;
}
/* =Gallery listing
-------------------------------------------------------------- */



.format-gallery .size-thumbnail img,
.category-gallery .size-thumbnail img {
	border: 10px solid #f1f1f1;
	margin-bottom: 0;
}
.format-gallery .gallery-thumb,
.category-gallery .gallery-thumb {
	float: left;
	margin-right: 20px;
	margin-top: -4px;
}
.home main#content .format-gallery .entry-utility,
.home main#content .category-gallery .entry-utility {
	padding-top: 4px;
}
/* =Attachment pages
-------------------------------------------------------------- */
.attachment .entry-content .entry-caption {
	font-size: 140%;
	margin-top: 24px;
}
.attachment .entry-content .nav-previous a:before {
	content: '\2190\00a0';
}
.attachment .entry-content .nav-next a:after {
	content: '\00a0\2192';
}
/* =Images
-------------------------------------------------------------- */
/*
Resize images to fit the main content area.
- Applies only to images uploaded via WordPress by targeting size-* classes.
- Other images will be left alone. Use "size-auto" class to apply to other images.
*/
img.size-auto,
img.size-full,
img.size-large,
img.size-medium,
.attachment img,
.widget-container img {
	max-width: 100%; /* When images are too wide for containing element, force them to fit. */
	height: auto; /* Override height to match resized width for correct aspect ratio. */
}
.alignleft,
img.alignleft {
	display: inline;
	float: left;
	margin-right: 24px;
	margin-top: 4px;
}
.alignright,
img.alignright {
	display: inline;
	float: right;
	margin-left: 24px;
	margin-top: 4px;
}
.aligncenter,
img.aligncenter {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
img.alignleft,
img.alignright,
img.aligncenter {
	margin-bottom: 12px;
}
.wp-caption {
	background: #f1f1f1;
	line-height: 18px;
	margin-bottom: 20px;
	max-width: 632px !important; /* prevent too-wide images from breaking layout */
	padding: 4px;
	text-align: center;
}
.wp-caption img {
	margin: 5px 5px 0;
	max-width: 622px; /* caption width - 10px */
}
.wp-caption p.wp-caption-text {
	color: #777;
	font-size: 12px;
	margin: 5px;
}
.wp-smiley {
	margin: 0;
}
.gallery {
	margin: 0 auto 18px auto;
}
.gallery .gallery-item {
	float: left;
	margin-top: 0;
	text-align: center;
	width: 33%;
}
.gallery-columns-2 .gallery-item {
	width: 50%;
}
.gallery-columns-4 .gallery-item {
	width: 25%;
}
.gallery img {
background-color:#fff;
padding:10px;
box-sizing:border-box;
border:0 !important;
}
.gallery-columns-2 .attachment-medium {
	max-width: 92%;
	height: auto;
}
.gallery-columns-4 .attachment-thumbnail {
	max-width: 84%;
	height: auto;
}
.gallery .gallery-caption {
	color: #777;
	font-size: 12px;
	margin: 0 0 12px;
}
.gallery dl {
	margin: 0;
}
.gallery img {
	border: 10px solid #fff;
}
.gallery br+br {
	display: none;
}
main#content .attachment img {/* single attachment images should be centered */
	display: block;
	margin: 0 auto;
}
/* =Navigation
-------------------------------------------------------------- */

.triangle{
	padding:0 25px 0 0;
background:url("./images/triangle-small.png") top right no-repeat;
}

.navigation {
	color: #777;
	font-size: 12px;
	line-height: 18px;
	overflow: hidden;
}
.navigation a:link,
.navigation a:visited {
	color: #777;
	text-decoration: none;
}
.navigation a:active,
.navigation a:hover {
	color: #ff4b33;
}
.nav-previous {
	float: left;
	width: 50%;
}
.nav-next {
	float: right;
	text-align: right;
	width: 50%;
}
#nav-above {
	margin: 0 0 18px 0;
}
#nav-above {
	display: none;
}
.paged #nav-above,
.single #nav-above {
	display: block;
}
#nav-below {
	margin: -18px 0 0 0;
}
/* =Comments
-------------------------------------------------------------- */
#comments {
	clear: both;
}
#comments .navigation {
	padding: 0 0 18px 0;
}
h3#comments-title,
h3#reply-title {
	color: #000;
	font-size: 20px;
	font-weight: bold;
	margin-bottom: 0;
}
h3#comments-title {
	padding: 24px 0;
}
.commentlist {
	list-style: none;
	margin: 0;
}
.commentlist li.comment {
	border-bottom: 1px solid #e7e7e7;
	line-height: 24px;
	margin: 0 0 24px 0;
	padding: 0 0 0 56px;
	position: relative;
}
.commentlist li:last-child {
	border-bottom: none;
	margin-bottom: 0;
}
#comments .comment-body ul,
#comments .comment-body ol {
	margin-bottom: 18px;
}
#comments .comment-body p:last-child {
	margin-bottom: 6px;
}
#comments .comment-body blockquote p:last-child {
	margin-bottom: 24px;
}
.commentlist ol {
	list-style: decimal;
}
.commentlist .avatar {
	position: absolute;
	top: 4px;
	left: 0;
}
.comment-author {
}
.comment-author cite {
	color: #000;
	font-style: normal;
	font-weight: bold;
}
.comment-author .says {
	font-style: italic;
}
.comment-meta {
	font-size: 12px;
	margin: 0 0 18px 0;
}
.comment-meta a:link,
.comment-meta a:visited {
	color: #777;
	text-decoration: none;
}
.comment-meta a:active,
.comment-meta a:hover {
	color: #ff4b33;
}
.commentlist .even {
}
.commentlist .bypostauthor {
}
.reply {
	font-size: 12px;
	padding: 0 0 24px 0;
}
.reply a,
a.comment-edit-link {
	color: #777;
}
.reply a:hover,
a.comment-edit-link:hover {
	color: #ff4b33;
}
.commentlist .children {
	list-style: none;
	margin: 0;
}
.commentlist .children li {
	border: none;
	margin: 0;
}
.nopassword,
.nocomments {
	display: none;
}
#comments .pingback {
	border-bottom: 1px solid #e7e7e7;
	margin-bottom: 18px;
	padding-bottom: 18px;
}
.commentlist li.comment+li.pingback {
	margin-top: -6px;
}
#comments .pingback p {
	color: #777;
	display: block;
	font-size: 12px;
	line-height: 18px;
	margin: 0;
}
#comments .pingback .url {
	font-size: 13px;
	font-style: italic;
}
/* Comments form */
input[type="submit"] {
	color: #333;
}
input[type="submit"]:hover{
    cursor: pointer;
}
#respond {
	border-top: 1px solid #e7e7e7;
	margin: 24px 0;
	overflow: hidden;
	position: relative;
}
#respond p {
	margin: 0;
}
#respond .comment-notes {
	margin-bottom: 1em;
}
.form-allowed-tags {
	line-height: 1em;
}
.children #respond {
	margin: 0 48px 0 0;
}
h3#reply-title {
	margin: 18px 0;
}
#comments-list #respond {
	margin: 0 0 18px 0;
}
#comments-list ul #respond {
	margin: 0;
}
#cancel-comment-reply-link {
	font-size: 12px;
	font-weight: normal;
	line-height: 18px;
}
#respond .required {
	color: #ff4b33;
	font-weight: bold;
}
#respond label {
	color: #777;
	font-size: 12px;
}
#respond input {
	margin: 0 0 9px;
	width: 98%;
}
#respond textarea {
	width: 98%;
}
#respond .form-allowed-tags {
	color: #777;
	font-size: 12px;
	line-height: 18px;
}
#respond .form-allowed-tags code {
	font-size: 11px;
}
#respond .form-submit {
	margin: 12px 0;
}
#respond .form-submit input {
	font-size: 14px;
	width: auto;
}
/* =Widget Areas
-------------------------------------------------------------- */
aside select {
	max-width: 100%;
}
.widget_search #s {/* This keeps the search inputs in line */
	width: 60%;
}
.widget_search label {
	display: none;
}
.home .widget-container {
	word-wrap: break-word;
	-webkit-hyphens: auto;
	-moz-hyphens: auto;
	hyphens: auto;
	   margin: 0 auto -38px auto !important;
}
.widget-container .wp-caption img {
	margin: auto;
}
.widget-title {
	color: #222;
	font-weight: bold;
}
aside .entry-meta {
	font-size: 11px;
}
#wp_tag_cloud div {
	line-height: 1.6em;
}
#wp-calendar {
	width: 100%;
}
#wp-calendar caption {
	color: #222;
	font-size: 14px;
	font-weight: bold;
	padding-bottom: 4px;
	text-align: left;
}
#wp-calendar thead {
	font-size: 11px;
}
#wp-calendar thead th {
}
#wp-calendar tbody {
	color: #aaa;
}
#wp-calendar tbody td {
	background: #f5f5f5;
	border: 1px solid #fff;
	padding: 3px 0 2px;
	text-align: center;
}
#wp-calendar tbody .pad {
	background: none;
}
#wp-calendar tfoot #next {
	text-align: right;
}
.widget_rss a.rsswidget {
	color: #000;
}
.widget_rss a.rsswidget:hover {
	color: #ff4b33;
}
.widget_rss .widget-title img {
	width: 11px;
	height: 11px;
}

/* =Footer
-------------------------------------------------------------- */
#site-info {
	font-weight: bold;
}
#site-info a {
	color: #000;
	text-decoration: none;
}
#site-generator {
	font-style: italic;
	position: relative;
}
#site-generator a {
	background: url(./images/wordpress.png) center left no-repeat;
	color: #666;
	display: inline-block;
	line-height: 16px;
	padding-left: 20px;
	text-decoration: none;
}
#site-generator a:hover {
	text-decoration: underline;
}
img#wpstats {
	display: block;
	margin: 0 auto 10px;
}
/* =Mobile Safari ( iPad, iPhone and iPod Touch )
-------------------------------------------------------------- */
pre {
	-webkit-text-size-adjust: 140%;
}
code {
	-webkit-text-size-adjust: 160%;
}
nav,
.entry-meta,
.entry-utility,
.navigation,
aside {
	-webkit-text-size-adjust: 120%;
}
#site-description {
	-webkit-text-size-adjust: none;
}
/* =Print Style
-------------------------------------------------------------- */
@media print {
	body {
		background: none !important;
	}
	section.content {
		clear: both !important;
		display: block !important;
		float: none !important;
		position: relative !important;
	}
	.container {
		border-bottom: 2pt solid #000;
		padding-bottom: 18pt;
	}
	#site-title,
	#site-description {
		float: none;
		line-height: 1.4em;
		margin: 0;
		padding: 0;
	}
	#site-title {
		font-size: 13pt;
	}
	.entry-content {
		font-size: 14pt;
		line-height: 1.6em;
	}
	.entry-title {
		font-size: 21pt;
	}
	nav,
	#branding img,
	#respond,
	.comment-edit-link,
	.edit-link,
	.navigation,
	.page-link,
	aside {
		display: none !important;
	}
	main#content,
	.container {
		margin: 0;
		width: 100%;
	}
	main#content,
	main#content.one-column {
		margin: 24pt 0 0;
		width: 100%;
	}
	.wp-caption p {
		font-size: 11pt;
	}
	#site-info,
	#site-generator {
		float: none;
		width: auto;
	}
	img#wpstats {
		display: none;
	}
	#site-generator a {
		margin: 0;
		padding: 0;
	}
	#entry-author-info {
		border: 1px solid #e7e7e7;
	}
	.home .sticky {
		border: none;
	}
}



/*******************  INVESTORS PAGE **********************/

.left{text-align:left;}

.annual-wrap .left{text-align:left;	font-size:18px;
	line-height:32px;}



.annual-wrap{
	padding:50px 0 0 0;
}

.annual-wrap .col {
    display: block;
    float: left;
    margin: 1% 0 1% 5%;
	
}

.blue{color:#ab7338 !important;}

.code{font-size:24px !important;font-weight:600;}




/*  SECTIONS ON HOMEPAGE */



.home .section img {padding-bottom:15px;}

.section {
	clear: both;
	padding: 0px;
	margin: 0px;
	text-align:center;
	line-height:18px;

}




/*  COLUMNS SETUP  */


.col {
	display: block;
	float:left;
	margin: 1% 0 1% 5%;
}

.col:first-child { margin-left: 0; }

/*  GROUPING  */
.group:before,
.group:after { content:""; display:table; }
.group:after { clear:both;}
.group { zoom:1; /* For IE 6/7 */ }

/*  GRID OF FOUR  */
.span_4_of_4 {
	width: 100%;
}
.span_3_of_4 {
	width: 73.75%;
}
.span_2_of_4 {
	width: 47.5%;
}
.span_1_of_4 {
	width: 21.25%;
}

/*  GRID OF THREE  */
.span_3_of_3 { width: 100%; }
.span_2_of_3 { width: 65%; }
.span_1_of_3 { width: 30%; }

.page-id-14 .col {
	display: block;
	float:left;
	margin: 1% 0 1% 5%;
}
.page-id-14 .col:first-child { margin-left: 0; }

/*  GRID OF TWO  */
.span_2_of_2 {
	width: 100%;
}
.span_1_of_2 {
	width: 47.5%;
}
.page-id-12 .col {
	display: block;
	float:left;
	margin: 1% 0 1% 5%;
}

.page-id-12 .col:first-child { margin-left: 0; }

/**********************************GENERAL**********************************/

.left{
	float: left;
}
.right{
	float: right;
}


.right-content {
float:right;
}

img{max-width:100%;height:auto;}

/**********************************HEADER**********************************/


// .tsx {
// width:286px; 
// height:34px; 
// position: absolute;
// right: 150px;
// top: 15%;
//  }

// .tsx img {position:relative; right:0;}

header{
	// background:url("./images/head-bg.jpg") top center no-repeat;
	// min-height: 150px;
	border-bottom: solid 3px #000;
	// overflow: hidden;
	background-color: #fff;

	.logo{
		display:block;
		max-height: 100px;
		width: auto;
		margin: 1.1rem 0;
		@media ( max-width: 1024px ){ margin: 1.1rem auto; }
	}

	.container{
		overflow: hidden;
		// outline: solid 1px red;

		.flex-cont{
			display: flex;
			align-items: center;
			flex-wrap: wrap;
			.colf{
				// outline: solid 1px blue;
				width: 50%;
				
				@media ( max-width: 1024px ){
					width: 100%;
				}

			}
		}

	}
}

header .left-block {
    vertical-align: bottom;
    padding-bottom: 10px;
	position:absolute;
}

header .right-content img {
    display: block;
    height: auto;
    width: 100%;
}

#logo h1 {
    height: 0;
    text-indent: -9999px;
}


/************************ MANAGEMENT PAGE & KIYUK Lake Page & Contact page *****************************/

.manage-wrap .section {text-align:center;}

.manage-wrap img, .page-id-14 .entry-content img{padding:10px 0px; box-sizing:border-box;}

.kiyuk-wrap{padding:0px 15px 0px 15px; box-sizing:border-box;text-align:center;position:relative;}
.kiyuk-wrap strong{text-transform:uppercase;}

.report{position:absolute;right:0;font-weight:bold;}

// .page-id-14 p{font-size:16px; line-height:24px;}

/************************ ACCORDION *****************************/

.accordion {
    border-bottom: 1px solid #ab7338;
    display: block;
    margin: 0 auto;
    width: 90%;
}

.accordion-title {
    border-top: 1px solid #ab7338;
    margin: 0;
	color:black;
    padding: 10px 0 10px 0;
    cursor: pointer;
}
.accordion-title:hover {color:#ab7338 !important;}

.accordion-title:first-child {border: none;}

.accordion-title.open {cursor: default;}

.accordion-content {
    box-sizing: border-box;
    font-size: 14px;
	line-height:21px;
    padding: 15px 0;
}


/**********************************FOOTER**********************************/

// .pickaxe{margin-bottom:-10px;}

footer {
	box-sizing:border-box;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	// font-size: 16px;
	line-height: 1.4;

	.flex-cont{
		border-top: solid 3px #000;
		padding-top: 12px;
		width: 100%;
		display: flex;
	}

	.colf{
		// outline: solid 1px red;
		width: 50%;
	}

	.footer-logo{
		img.logo{ max-height: 65px; }
	}

}

// footer::before{
// background: url("./images/pick-axe.png");
// position:absolute;}

// footer a{color:#fff;}
// .textwidget {text-align:center;margin:0 auto;}
// footer a:hover{color:#8f8f8f;}

// #copyright{
//     display: inline-block;
//     width: 50%;
// }

// .vision{display:inline-block;padding-left:15px;}

// footer .menu li {
//     border-left: 1px solid white;
//     box-sizing: border-box;
//     display: inline-block;
//     font-size: 14px;
//     height: 20px;
//     padding: 0 15px;
// }

// footer .menu li:last-child { 
// 	border-right: 1px solid white; 
// }



// .page-id-12 .rock,
// .page-id-10 .rock,
// .page-id-8 .rock,
// .page-id-105 .rock,
// .page-id-127 .rock
// {margin: 0 0 -40px 0;}

// .page-id-14 .rock
// {margin: 0 0 -50px 0;}


/**********************************SIDEBAR**********************************/

section.content .widget_nav_menu{
    padding-left: 30px;
    padding-right: 0;
}
section.content.left-sidebar .widget_nav_menu{
    padding-left: 0;
    padding-right: 30px;
}

/**********************************MISC**********************************/

div.wpcf7 {
    position: relative;
}
.wpcf7-form img.wpcf7-form-control {
    margin-top: -30px;
    position: absolute;
    right: 0px;
}
span.wpcf7-not-valid-tip, div.wpcf7-mail-sent-ok{
    display: none !important;
}
.wpcf7-not-valid {
    border: 1px solid #ec0000 !important;
}
div.wpcf7-validation-errors {
    border: medium none !important;
    color: #ec0000;
    margin: 0 !important;
    padding: 0 !important;
}

.newsletter{
padding: 0;
text-align: center;
margin: 0;
width: 90% !important;
margin: 0 auto;
}

/**********************************RESPONSIVE STYLES**********************************/
.page-template-fullwidth-page section.content{
  width: 100%;
}
section.content,
div.menu,
#branding,
.container {
  width: 1240px;
}

section.content .entry-content{
	padding: 2.1rem;
}


.fullwidth{
  width: 100%;
  margin: 0 auto;
}
.container{
  margin: 0 auto;
}
@media screen and (max-width: 1280px) {
  section.content, .container{
    width: 94% !important;
  }
  
  div.menu,
  #branding,
  .container {
    margin: 0 auto;
    width: 100%;
  }
  
  /*
  LAYOUT: Two columns
  DESCRIPTION: Responsive.
  940 = 720 + 220
  100% = 76.5957447% + 23.40425535% 
  */
  
  aside {
    overflow: hidden;
    width: 23.40425535%; /* 200px / 940px */ 
    padding-left: 0 !important;
  }
  
}

@media screen and (max-width: 1024px) {

// .logo{
// width:100% !important;
// margin:0 auto 0 auto !important;}

// .tsx{
// width: 286px;
// height: 34px;
// position: absolute;
// right: 33%;
// top: 30%;

// }

	#mega-menu-wrap-primary #mega-menu-primary li.mega-menu-item:last-child a.mega-menu-link:last-child
{border-right: none !important;border-bottom: 2px solid black;}
	
#mega-menu-wrap-primary #mega-menu-primary > li.mega-menu-item > a.mega-menu-link{text-align:center !important; z-index: 1;}
	
	
	#mega-menu-wrap-primary .mega-menu-toggle {
    // border-bottom: 2px solid black;
		min-height:50px;line-height:50px !important;
}
	#mega-menu-wrap-primary .mega-menu-toggle {border-radius:0px !important;}
	
	.left-block {display:none;}
	
	
	
	#navwrap .container {width:100% !important;padding:0 !important;}
	
}
@media screen and (max-width: 940px) {
}
@media screen and (max-width: 768px) {


.tsx{
width: 286px;
height: 34px;
position: absolute;
right: 28%;
top: 25%;

}
 


	footer {
	background: #000 !important;}
	
.ml-responsive-table dl:nth-of-type(2n+1) {
    background: rgba(0, 0, 0, 0.08) none repeat scroll 0 0;
}
	
	
.ml-responsive-table {
    display: block;
    text-align: center;
}
	
	.annual-wrap .left {
    font-size: 18px;
    line-height: 32px;
    text-align: center;
}

	
	.heading {
    padding: 70px 0 30px;
}

	
	.vision{display:block;padding-left:0px; text-align:center;}

	.col,
	.col:first-child,
	.page-id-12 .col:first-child,
	.page-id-14 .col:first-child{  margin: 0% auto 0% auto !important; display:block !important; }
	
	.span_1_of_4, 
	.span_2_of_4, 
	.span_3_of_4, 
	.span_4_of_4,
	.span_2_of_2,
	.span_1_of_2,
	.span_1_of_3,
	.span_2_of_3,
	.span_3_of_3
	{ width: 100%; margin: 1% auto 1% auto; display:block; }
	
.page-id-8 .span_1_of_2{margin-top:20px !important;}
	
section.content, .container, main#content, aside, section.content.left-sidebar main#content {
	display: block;
	width: 100% !important;
	padding: 0 10px;
	margin: 0;
	box-sizing: border-box;
	min-width: inherit;
	min-width: initial;
	min-width: unset;
}
section.content{
	padding: 0 !important;
}
section.content .widget_nav_menu,
section.content.left-sidebar .widget_nav_menu {
    padding-right: 0px;
    padding-left: 0px;
}
#copyright, #longevity {
    display: block;
    text-align: center;
    width: 100%;
}
		
}

@media screen and (max-width: 603px) {

header{height:200px;}
.tsx{
width: 200px;
    height: 25px;
    position: absolute;
    right: 25%;
    top: 15%;
}
 
 
}
@media screen and (max-width: 520px) {

header{height:180px;}	
	
.tsx{
width: 200px;
    height: 25px;
    position: absolute;
    right: 23%;
    top: 20%;
}

}
@media screen and (max-width: 480px) {

	
}
@media screen and (max-width: 320px) {
}
@media only screen and (min-width:768px){
  .scroll-back-to-top-wrapper{
    display: none;
  }
}


.teamcol{
	// outline: solid 1px red;
	display:flex;
	justify-content: space-between;

	.imgcol{
		// outline: solid 1px red;
		width: 15%;
		// margin-right: 1.1rem;
	}

	.teamcpy{
		// outline: solid 1px red;
		width: 85%;
	}

} 


.wpcf7-form{
	// outline: solid 1px red;
	width: 50%;
	margin-top: 1.1rem;

	label{
		// outline: solid 1px red;
		display: flex;
		justify-content: space-between;
		margin-bottom: 1.1rem;

		.flexlabel{
			// outline: solid 1px red;
			width: 15%;
			padding-right: 1.1rem;
		}

		.wpcf7-form-control-wrap{
			width: 100%;
		}
	}

	.wpcf7-submit{
		padding: 0.5rem 1.1rem;
	}

	br{
		display: none;
	}

}

